In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [2]:
df = pd.read_excel('All Runs.xlsx', sheet_name = 'First 27')

In [3]:
df

,Run,Trial,Time Stamp,Sensor,Value,SV1,SV2,SV3,SV4,SV5,SV6,SV7,SV8,SV9,SV10,SV11
0,1,1,2022-01-10 13:42:55,Occupancy 15s,50.943398,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
1,1,1,2022-01-10 13:43:00,Occupancy 15s,50.943398,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
2,1,1,2022-01-10 13:43:05,Occupancy 15s,50.943398,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
3,1,1,2022-01-10 13:51:40,Occupancy 15s,50.943398,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
4,1,1,2022-01-10 13:51:50,Occupancy 15s,50.943398,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8122,27,3,2022-02-03 11:16:40,Occupancy 15s,67.924530,2.0,2.0,1.5,1.0,2.0,1.5,1.0,1.5,1.0,2.0,0.5
8123,27,3,2022-02-03 11:16:45,Occupancy 15s,67.924530,2.0,2.0,1.5,1.0,2.0,1.5,1.0,1.5,1.0,2.0,0.5
8124,27,3,2022-02-03 11:16:50,Occupancy 15s,67.924530,2.0,2.0,1.5,1.0,2.0,1.5,1.0,1.5,1.0,2.0,0.5
8125,27,3,2022-02-03 11:23:10,Occupancy 15s,67.924530,2.0,2.0,1.5,1.0,2.0,1.5,1.0,1.5,1.0,2.0,0.5
8126,27,3,2022-02-03 11:23:15,Occupancy 15s,67.924530,2.0,2.0,1.5,1.0,2.0,1.5,1.0,1.5,1.0,2.0,0.5

In [4]:
X = df[['SV1', 'SV2', 'SV3', 'SV4', 'SV5', 'SV6', 'SV7', 'SV8', 'SV9', 'SV10']]
y = df[['Value']]

In [5]:
regr = linear_model.LinearRegression()
regr.fit(X.values, y.values)

LinearRegression()

In [8]:
predicted_effic = regr.predict([[1.0, 1.5, 2.0, 1.0, 1.5, 2.0, 1.0, 1.5, 2.0, 1.0]])
print(predicted_effic)

[[60.16681438]]

In [7]:
print(regr.coef_)

[[ 0.76727493  0.29770404 -0.43946325 -0.1144435   0.18719812  0.06700681
   0.6167853   0.41065884  0.05455163  0.18116399]]